.microContent {
  height: 100%;
}

.card-wrapper {
  padding: 30px 20px 30px 20px;
  width: inherit;
  font-family: Roboto-Bold;

}

.card-text {
  color: rgba(255, 255, 255, 1);
  line-height: 33px;
  text-align: left;
  font-size: 28px;
}

span.lightBlue {
  color: rgba(198, 214, 247, 1);
}

.imgBottomLeft {
  padding-right: 64px;
  margin-top: 30vh;
  width: inherit;
  height: 114px;
}

.microContent {
  height: 100%;
}

.card-wrapper {
  padding: 30px 20px 30px 20px;
  width: inherit;
  font-family: Roboto-Bold;

}

.card-text {
  color: rgba(255, 255, 255, 1);
  line-height: 33px;
  text-align: left;
  font-size: 28px;
}

span.lightBlue {
  color: rgba(198, 214, 247, 1);
}

.imgBottomLeft {
  padding-right: 64px;
  margin-top: 30vh;
  width: inherit;
  height: 114px;
}


.main {

}

/* line 14, ../sass/product-skin.scss */
.pstory-title {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  padding-top: 1.36em;
  padding-bottom: 1em;
  padding-left: 1.75em;
}

/* line 21, ../sass/product-skin.scss */
.pstory-title-text {
  font-family: Roboto-Regular;
  margin-left: 2.5em;
  display: inline-block;
  height: 1.3em;
  line-height: 1.4em;
  width: calc(100% - 4em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 30, ../sass/product-skin.scss */
.pstory-title-text.pstory-title-inside-story {
  margin-left: 0;
}


.perso-teaser-title {
  height: 2.7em;
  background-color: rgba(82, 110, 174, 1);
  color: white;
  position: relative;
  box-sizing: border-box;
  padding-left: 0;
  font-size: 20.8px;
}
@media (max-width: 347px) {
  /* line 1, ../sass/_title.scss */
  .perso-teaser-title {
    font-size: 16px;
  }
}
@media (min-width: 347px) and (max-width: 395px) {
  /* line 1, ../sass/_title.scss */
  .perso-teaser-title {
    font-size: 18.72px;
  }
}
/* line 17, ../sass/_title.scss */
.perso-teaser-title .pstory-title-close, .perso-teaser-title .pstory-title-text {
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1.19em;
}
/* line 22, ../sass/_title.scss */
.perso-teaser-title .pstory-title-text {
  width: auto;
  font-weight: 300;
}
/* line 26, ../sass/_title.scss */
.perso-teaser-title .pstory-title-close {
  height: 0.75em;
  width: 0.75em;
  right: 1.19em;
  background-image: url(../../../assets/images/close.svg);
}
/* line 32, ../sass/_title.scss */
.perso-teaser-title input {
  background-color: transparent;
  border: none;
  padding: 0;
}

.pstory-title-close {
  font-size: inherit;
  display: inline-block;
  width: 1.36em;
  background-repeat: no-repeat;
  /*background-image: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%2…0C14.819%2C5.962%2014.382%2C5.527%2013.844%2C5.527%20Z%22/%3E%0A%3C/svg%3E);*/
  background-size: contain;
  background-position-y: center;
  position: absolute;
  height: 1.18em;
}


.main-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(82, 110, 174, 1);
}

.main-text-control {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  height: inherit;
}

.button {
  font-family: Roboto-Regular;
  height: 50px;
  font-size: 12px;
  background: none;
  color: white;
  border: none;
  padding: 0;

}

.middleButton {
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.floatMiddle {
  margin-left: auto;
  margin-right: auto;
}


.main-page {
  width: 100vw;
  height: 100vh;
  background-color: rgba(82, 110, 174, 1);
}

.main-wrapper {
  margin-right: 20px;
  margin-left: 20px;
}
.main-content {
  width: inherit;
  background-color: rgba(142, 176, 246, 1);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.18);
  height: 85vh;
}


