<div class="main-page">
  <div class="pstory-title perso-teaser-title">
    <div aria-live="assertive" role="text" class="pstory-title-text">Smart Engage</div>
    <input aria-label="close" type="button" class="pstory-title-close">
  </div>
  <div class="main-wrapper">
    <div class="main-content">
      <div class="microContent">
        <div class="card-wrapper">
          <div class="card-text">
            <p><span class="lightBlue">Ready to jump in?</span><br />Start with the approach... we think Auto-Pilot for you</p>
          </div>
        </div>
        <div class="guided-wrapper">
          <div class="content-wrapper">
            <div class="highlightText">Guided</div>
            <img src="../../../assets/images/guided-selected.svg" style="margin-top: -25px">
            <div class="fineprint"><p>Tailor your<br /> auto-savings program</p></div>
          </div>
        </div>
        <div class="autop-wrapper">
          <div class="content-wrapper">
            <div class="highlightText gray">Auto-Pilot</div>
            <img src="../../../assets/images/auto-pilot-non-selected.svg" style="margin-top: -25px">
            <div class="fineprint"><p>One-Click to begin your<br /> auto-savings program</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="main-text-control">
      <div class="floatLeft"><button class="button">Pervious</button></div>
      <div class="floatRight"><button class="button">Cancel</button></div>
      <div class="floatMiddle"><button class="button middleButton" (click)="getNextPage($event)">Next <img src="../assets/images/back-button.svg" class="backButtonImg"></button></div>
    </div>
  </div>
</div>
