<div class="main-page">
  <div class="pstory-title perso-teaser-title">
    <div aria-live="assertive" role="text" class="pstory-title-text">Smart Engage</div>
    <input aria-label="close" type="button" class="pstory-title-close">
  </div>
  <div class="main-wrapper">
    <div class="main-content">
      <div class="microContent">
        <div class="card-wrapper">
          <div class="card-text">
            <p>We think that you could save around<span class="lightBlue"><br />$5,600 in a year</span><br />based on your true financial profile</p>
          </div>
          <div class="disclaimer"><p>By clicking confirm and enroll I agree to the <br /><span class="underline">Terms & Conditions</span></p></div>
        </div>
        <div class="confirm-wrapper" (click)="getNextPage($event)">
          <div class="content-wrapper">
            <img class="imgJ" src="../../../assets/images/accept.svg">
            <div class="highlightText"><p>Sign me up</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="main-text-control">
      <div class="floatLeft"><button class="button">Pervious</button></div>
      <div class="floatRight"><button class="button">Cancel</button></div>
      <!--<div class="floatMiddle"><button class="button middleButton" (click)="getNextPage($event)">Next <img src="../assets/images/back-button.svg" class="backButtonImg"></button></div>-->
    </div>
  </div>
</div>
